<div class="password-strength" *ngIf="password && password.length >= 4">
  <div class="strength-bar-container">
    <div class="strength-bar" 
         [class]="getStrengthColor()"
         [style.width.%]="getStrengthPercentage()">
    </div>
  </div>
  
  <div class="strength-info" *ngIf="validation">
    <div class="strength-label" [class]="getStrengthColor()">
      <mat-icon *ngIf="isValidating">hourglass_empty</mat-icon>
      <span>{{ validation.label }}</span>
    </div>
    
    <div class="validation-details" *ngIf="!validation.isValid">
      <div class="errors" *ngIf="validation.errors.length > 0">
        <div class="error-item" *ngFor="let error of validation.errors">
          <mat-icon>close</mat-icon>
          <span>{{ error }}</span>
        </div>
      </div>
      
      <div class="suggestions" *ngIf="validation.suggestions.length > 0">
        <div class="suggestion-item" *ngFor="let suggestion of validation.suggestions">
          <mat-icon>lightbulb</mat-icon>
          <span>{{ suggestion }}</span>
        </div>
      </div>
    </div>
    
    <div class="validation-success" *ngIf="validation.isValid">
      <mat-icon>check_circle</mat-icon>
      <span>Password meets all requirements</span>
    </div>
  </div>
</div>
